*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #e6e6e6;
}

.caja{
	width: 45%;
	height: 240px;
	margin: 60px auto;
	border: 2px solid black;
	padding: 50px;
}

h1{
	text-align: center;
	margin-top: 100px;
}

.foto{
	float: left;
	margin-left: 5%;
}

.foto{
	border-radius: 60%;
	
}

.lista {
	margin-top: 30px;
	margin-left: 38%;
}

.rss{
	clear: both;
}

li{
	list-style-type: none;
}

