*{
	margin: 0px;
	padding: 0px;
}
body{
	/*background-color: #e6e6e6;*/
	background-image: url(img/fondo_verde.jpg);
}

.caja{
	width: 52%;
	height: 240px;
	margin: 60px auto;
	border: 2px solid #ccc;
	padding: 50px;
	background-color: rgba(11,168,16,0.6);
/*	background-image: url(img/fondo_azul.jpg);
*/	box-shadow: 3px 3px #ccc;
	position: relative;
}

h1,h2{
	text-align: center;
	margin-top: -20px;
	/*color: #eeeeee;*/
	font-family:"Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-size: 45px;
	line-height: 40px;
	letter-spacing: 2px;color: #eeeeee;

}

h2{
	font-size: 25px;
}


.foto{
	float: left;
}

.f_perfil{
	border-radius:150px;
	position: absolute;
	margin-top: 22px;
}

.caja img {
	border: 2px solid #ccc;
}

.lista {
	margin-top: 60px;
	margin-left: 210px;
}

li{
	list-style-type: none;
	font-family:"Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;color: #eeeeee;
	padding-bottom: 10px;
	text-shadow: 1px 1px black;
}

.rss ul li{
	float: left;
	margin: 27px;
}
.rss{
	width: 48%;
	height: 240px;
	margin: 60px auto;
}

h2{	
	text-align: center;
}
